body{
    background-color: rgb(98, 135, 180);
    font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;

   
}
h1{
    color: white;
}
a{
    color: white;
    border-left: 1px solid white ;
    float: right;
    border-right: 1px solid white ;
}
button{
    float: right;
    padding: 10px;
    border: none;
    color: blue;
    margin: 4px;
    border-radius: 6px;
}

.container{
    margin-top:90px;
    display: flex;
    
    

    
}
.list{
    border:  rgb(98, 135, 180) 2px solid ;
    background-color: blue;
    
    height: 80vh;
    width: 15vw;
}
ul li{
       display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 90px;
    list-style: none;

}
ul{
    border: red solid 2px;
    background-color: white;
     width: 8vw;
     margin: auto;
     margin-top: 38px;
     height: 70vh;


}
.title{
    color:blue;
    text-align: end;
}
.para{
 float: right;
 background-color: white;
 width: 80vw;
}
h2{
    text-align: end;
}